/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* corpo */
html, body {
    padding: 1rem;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
}

h1, h3 {
    text-align: center;   
}

main {
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* formulario */
/* form {
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 500px;
    margin: 0 auto;
} */

label {
    font-weight: bold;
    margin-bottom: 5px;
}

/* Ajuste para os inputs do form-floating */
.form-floating input {
    /* padding: 1rem 0.75rem;   */
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

/* Div para alinhar telefone e select */
.espaco {
    display: flex;    
    justify-content:space-between;
    align-items: center;
    gap: 10px;
}

/*input = telefone */
#fone {
    gap: 5px;
}

/* botao */
button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    font-size: 1.1rem;
    cursor: pointer;
}

