/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* corpo */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    overflow-y: auto; 
    padding: 20px;
}

/* Container principal */
.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    box-sizing: border-box;
    overflow-y: auto;
}

/* Classe do pai do h1 */
.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

/* Titulo */
h1 {
    font-size: 2em;
    color: #333;    
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}

/* Corpo do Formulário */
form {
    width: 100%; 
}

h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

label {
    font-size: 1em;
    color: #555;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #cfcfcf;
    box-sizing: border-box;
}
/* Div dos inputs data, hora inicio e termino */
.tempo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.tempo label {
    width: auto;
    margin-right: -5px;
    margin-left: -1px;
    text-align:justify;
}

.tempo input {
    flex: 1;
    min-width: 120px;
    
}

#data, #horasI, #horasT{
    width: 30%;   
}

textarea {
    resize: vertical;
}

/* Encerramento - input e label */
.final {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.final label {
    width: auto;
    margin-right: 5px;    
    text-align: justify;
}

.final input {
    flex: 1;
    min-width: 120px;  
    max-width: calc(33.33% - 10px);  
}

#encerramento, #horaE {
    width: 30%;   
}

/* Assinatura */
.signature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signature-container label {
    margin-bottom: 10px;
    font-size: 1rem; /* Ajusta o tamanho do texto */
}

#signature-pad {
    width: 100%; /* Ocupa 100% do contêiner inicialmente */
    max-width: 500px; /* Limita a largura máxima */
    height: 200px; /* Altura padrão */
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 5px;
}

/* Botoes */
.buttom-row {
    display: flex;
    gap: 10px;
    margin-top: 3px;
}

button, #clear-signature {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50; /* #ff6f61*/
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover,
#clear-signature:hover {
    background-color: #45a049;
}

/* Ajuste para telas pequenas */
@media (min-width: 768px){
    .tempo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .tempo label,
    .tempo input {
        width: auto;
    }
    #data, #horasI, #horasT {
        flex: 1;   
    }

    .final {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .final label,
    .final input {
        width: auto;
    }

}

@media (max-width: 767px){
    .tempo {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .tempo label,
    .tempo input {
        width:100%;
        /* margin: 5px 0; */
    }
    
    .final {
        flex-direction: column;
        gap: 10px;
    }

    .final label,
    .final input {
        width: auto;
    }
}

@media (max-width: 320px) {
    #signature-pad {
        width: 100%; /* Mantém responsivo */
        height: 150px; /* Reduz a altura */
    }

    #clear-signature {
        font-size: 0.9rem; /* Reduz tamanho do botão */
        padding: 8px 16px; /* Ajusta o padding do botão */
    }

    button {
        margin-bottom: 5px;
    }
}
