/* 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4;
    overflow-y: auto; 
    padding: 20px;
}


.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 750px;
    margin: 0 auto;
    overflow-y: auto;    
}


.form-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


h1 {
    font-size: 2em;
    color: #333;    
    flex: 1;
    text-align: center;
    margin-bottom: 20px;
}


form {
    width: 100%; 
}

h3 {
    margin-top: 20px;
    font-size: 1.2em;
    color: #333;
}

label {
    font-size: 1em;
    color: #555;
    display: block;
    margin-top: 10px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 2px solid #cfcfcf;
    box-sizing: border-box;
}

.tempo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.tempo label {
    width: auto;
    margin-right: -5px;
    margin-left: -1px;
    text-align:justify;
}

.tempo input {
    flex: 1;
    min-width: 120px;
    
}

#data, #horasI, #horasT{
    width: 30%;   
}

textarea {
    resize: vertical;
}


.final {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.final label {
    width: auto;
    margin-right: 5px;    
    text-align: justify;
}

.final input {
    flex: 1;
    min-width: 120px;  
    max-width: calc(33.33% - 10px);  
}

#encerramento, #horaE {
    width: 30%;   
}


.signature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.signature-container label {
    margin-bottom: 10px;
    font-size: 1rem; 
}

#signature-pad {
    width: 100%; 
    max-width: 500px; 
    height: 200px; 
    border: 1px solid #000;
    border-radius: 8px;
    margin-bottom: 5px;
}


.buttom-row {
    display: flex;
    gap: 10px;
    margin-top: 3px;
}

button, #clear-signature {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

button:hover,
#clear-signature:hover {
    background-color: #45a049;
}


@media (min-width: 768px){
    .tempo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .tempo label,
    .tempo input {
        width: auto;
    }
    #data, #horasI, #horasT {
        flex: 1;   
    }

    .final {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .final label,
    .final input {
        width: auto;
    }

}

@media (max-width: 767px){
    .tempo {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .tempo label,
    .tempo input {
        width:100%;
        
    }
    
    .final {
        flex-direction: column;
        gap: 10px;
    }

    .final label,
    .final input {
        width: auto;
    }
}

@media (max-width: 320px) {
    #signature-pad {
        width: 100%; 
        height: 150px; 
    }

    #clear-signature {
        font-size: 0.9rem; 
        padding: 8px 16px; 
    }

    button {
        margin-bottom: 5px;
    }
} */

/* Geral */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* corpo */
html, body {
    padding: 1rem;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

/* main */
.form-container {
    max-width: 700px;
    padding: 1rem;
}

h1, h3 {
    text-align: center;   
}

main {
    border: 1px solid #ccc;
    border-radius: 5px;
}

label {
    font-weight: bold;
    margin-bottom: 3px;
}

/* Data, Hora */
.tempo {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 10px;
}

.tempo label {
    width: auto;
    margin-right: -5px;
    margin-left: -1px;
    text-align:justify;
}

.tempo input {
    flex: 1;
    min-width: 120px;
    text-align: center;
    
}

#data, #horasI, #horasT{
    width: 30%;   
}

/* Assinatura */
.signature-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 5px;   
}

.signature-container label {
    margin-bottom: 20px;
    font-size: 1rem; 
}

#signature-pad {
    width: 100%; 
    /* max-width: 500px;  */
    height: 100px; 
    border: 1px solid #000;  
    border-radius: 5px;  
    margin-bottom: 10px;
}

/* media */
@media (min-width: 768px){
    .tempo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
    }

    .tempo label,
    .tempo input {
        width: auto;
    }
    #data, #horasI, #horasT {
        flex: 1;   
    }

}

@media (max-width: 767px){
    .tempo {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .tempo label,
    .tempo input {
        width:100%;
        text-align: center;
        margin-top: -10px;
        padding: 0 10px;
               
    }    

    .tempo input {
        font-size: 13px; 
    }
 
}





@media (max-width: 425px){
 .form-floating .form-control{
    font-size: 13px;
    padding: 0.375rem 0.75rem;
 }
}

@media (max-width: 320px) {
    .form-floating .form-control{
        font-size: 10px;
        padding: 0.375rem 0.7rem;
     }
}

